/* Background Media Component Styles */

.background-media {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-media__video,
.background-media__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

